<h1>My Heros</h1>
<button class="add-button" color="accent" mat-fab routerLink="/herois/new">
    <mat-icon>add</mat-icon>
</button>
<mat-table [dataSource]="herois" class="mat-elevation-z8">
    <!-- id -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>


    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row routerLink="/herois/{{row.id}}" *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>